<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10">
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Market Study Findings
						</div>
					</div>
				</div>
			</div>

			<div class="sub-content" align="center" >
					<div class="row">
						<div class="col-md-6" >
							<div class="graph-container">
								<div class="svg-container">
									<svg id="svg-flavor" class="survey-svg">
									</svg>
								</div>
								<div class="graph-desc">
									<div class="graph-title">
										Favorite topping
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="graph-container">
								<div class="svg-container">
									<svg id="svg-allowance" class="survey-svg">
									</svg>
								</div>
								<div class="graph-desc">
									<div class="graph-title">
										Participants' allowance bracket
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="sub-content" align="center" >
					<div class="row">
						<div class="col-md-6" >
							<div class="graph-container">
								<div class="svg-container">
									<svg id="svg-places" class="survey-svg">
									</svg>
								</div>
								<div class="graph-desc">
									<div class="graph-title">
										Places where street-food is bought
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="graph-container">
								<div class="svg-container">
									<svg id="svg-willingness" class="survey-svg">
									</svg>
								</div>
								<div class="graph-desc">
									<div class="graph-title">
										Willingness to buy product
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="sub-content" align="center" >
					<div class="row">
						<div class="col-md-6" >
							<div class="graph-container">
								<div class="svg-container">
									<svg id="svg-willingness-to-pay" class="survey-svg">
									</svg>
								</div>
								<div class="graph-desc">
									<div class="graph-title">
										Willingness to pay
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6" >
							<div class="graph-container">
								<div class="svg-container">
								</div>
								<div class="graph-desc">
									<div class="graph-title">
										Frequency of buying street-food
									</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>

<script>
	var flavors = <%= raw @flavors.to_json %>
	var allowances = <%= raw @allowances.to_json%>
	var places = <%= raw @places.to_json%>
	var willingness = <%= raw @willingness.to_json%>
	var willingnessToPay = <%= raw @willingness_to_pay.to_json%>
	console.log(places);
</script>