<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10" >
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Market Basket Analysis
						</div>
					</div>
				</div>
			</div>

			<div class="sub-content" align="center">
				<div class="row">
					<div class="col-md-12" >
						<div class="pivot-heading" align="center">
							Analysis Data <small style="float:right; color:#AAAAAA;padding-top:2px">(hover on cell to see variable)</small>
						</div>
						<div class="table-responsive">
							<table  class="table table-condensed table-bordered basket-table"  style="width: 100%;" align="center" >
								<% @basket.each_with_index do | row, i | %>
									<% if i == 1
											next
										end %>
									<tr>
										<% row.each_with_index do | col, j | %>
											<% if i == 0 %>
												<th colspan="<% if j == 1%> 8 <% else %> 6 <% end %>" align="center" style="text-align:center;" <% if j < 2 %>class="right-cell"<% end %> class="col-md-4"> <%= col %> </th>
											<% elsif i == 1 %>
												<th align="center"> <%= col %> </th>
											<% elsif i == 2%>
												<th align="center" <% if j == 5 || j == 13 %>class="right-cell"<% end %>><div  data-toggle="tooltip" data-placement="top" title="<%= @basket[i-1][j] %>" style="text-align:center;"> <%= col %></div></th>
											<% else %>
												<% if j == 5 || j == 13 %>
													<td class="right-cell <% if col == "0" %>zero-cell<% else %>one-cell<% end %>" style="text-align:center;"><div  data-toggle="tooltip" data-placement="top" title="<%= @basket[1][j] %>" style="text-align:center;"> <%= col %></div></td>
												<% else %>
													<td class="<% if col == "0" %>zero-cell<% else %>one-cell<% end %>" style="text-align:center;"><div  data-toggle="tooltip" data-placement="top" title="<%= @basket[1][j] %>" style="text-align:center;"> <%= col %></div></td>
												<% end %>
												
											<% end %>
										<% end %>
									</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>