<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10" >
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Balance Score Card and KPI
						</div>
					</div>
				</div>
			</div>

			<% @kpis.each do |dept| %>
				<div class="sub-content" align="center" >
					<div class="row">
						<div class="col-md-12" >
							<div class="dept-kpi">
								<div class="dept-heading" align="center">
									<%= dept["dept"] %>
								</div>
								<table class="table kpi-table">
									<tr>
										<th class="col-md-1">Perspective</th>
										<th class="col-md-5">Measure</th>
										<!-- <th class="col-md-3">Initiative</th> -->
										<th class="meas-cell col-md-1">Good</th>
										<th class="meas-cell col-md-1">Warning</th>
										<th class="meas-cell col-md-1">Bad</th>
									</tr>
									<% dept["kpis"].each do |row|%>
										<tr>
											<td><%= row["Perspective"] %></td>
											<td><%= row["Measure"] %></td>
											<!-- <td><%= row["Initiatives"] %></td> -->
											<td class="good-cell"><%= row["Good"] %></td>
											<td class="warning-cell"><%= row["Warning"] %></td>
											<td class="bad-cell"><%= row["Good"] %></td>
										</tr>
									<% end %>
								</table>
							</div>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>