<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10">

			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Market Study Findings
						</div>
					</div>
				</div>
			</div>


			<%
				graph_titles = Array.new(6)
				graph_id = Array.new(6)
				graph_pars = Array.new(6)

				graph_titles[0] = "Favorite topping"
				graph_titles[1] = "Participants' allowance bracket"
				graph_titles[2] = "Places where street-food is bought"
				graph_titles[3] = "Willingness to buy product"
				graph_titles[4] = "Willingness to pay"
				graph_titles[5] = "Importance of Cleanliness"

				graph_id[0] = "flavor"
				graph_id[1] = "allowance"
				graph_id[2] = "places"
				graph_id[3] = "willingness"
				graph_id[4] = "willingness-to-pay"
				graph_id[5] = "cleanliness"

				graph_pars[0] = "Most participants answered flavored powders as the topping they would want with their fishballs (similar to chicken popcorn and fries, these powders may be barbeque, cheese or sour cream). These powders are readily available and inexpensive, so they may easily be integrated into the menu. A few also answered the other choices (caramelized onions and shiitake mushrooms). This shows that there is also some demand for variety. Very few suggested their own toppings though, which may suggest that a wider variety of customizable toppings may not be desired by potential customers; thus, the company might do better by sticking with these classic toppings."
				graph_pars[1] = "Most of the participants had allowances in the less than 4500Php range. This means that price may be an important factor when it comes to selling a product like this, even if the group markets it as a unique, artisanal product. Since students are one of the target markets, a balance must be struck between the effort and time placed into the taste of the product and the costs of production. Though there are also some with higher allowances that may be able to afford the product, even if priced higher, more than half may have limited funds to spend. "
				graph_pars[2] = "The survey shows the results that the group initially expected, street-type foods are most often bought on the streets. With this in mind, there are still a few who buy from malls, supermarkets and other locations. This means that the group’s initial objective of bringing more street-type food into the mall setting (and others in the future) still applies, as there may still be a market for it in those locations.  "
				graph_pars[3] = "More than half of survey takers are willing to buy the product, some of whom are very willing to actually purchase it. This means that there may be demand for this product, but one must look at how much people are willing to pay to come to any conclusions with regard to this matter. "
				graph_pars[4] = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
				graph_pars[5] = "More than 3/4th of the survey takers think that cleanliness is important in a food product. This is one of the goals of the company, to provide safe and clean street food so that it may be accessed by a wider audience (those in the upper classes). Because of this, the company sets aside some funds every month just for the sanitation program (in addition to the regular funds in each component of the business, which are already spent with cleanliness in mind). "
			%>

			<% for i in 0..2 %>
				<div class="sub-content" align="center" >
					<div class="row">
						<% for j in 0..1 %>
							<div class="col-md-6" >
								<div class="graph-container">
									<div class="svg-container">
										<svg id="svg-<%=graph_id[i*2+j]%>" class="survey-svg">
										</svg>
									</div>
									<div class="graph-desc">
										<div class="graph-title">
											<%= graph_titles[i*2+j]%>
										</div>
										<p>
											<%= graph_pars[i*2+j]%>
										</p>
									</div>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>

<script>
	var flavors = <%= raw @flavors.to_json %>
	var allowances = <%= raw @allowances.to_json%>
	var places = <%= raw @places.to_json%>
	var willingness = <%= raw @willingness.to_json%>
	var willingnessToPay = <%= raw @willingness_to_pay.to_json%>
	var cleanliness = <%= raw @cleanliness.to_json%>
</script>