
<%= render "page/fixed_breakdown_modal" %>
<%= render "page/capital_breakdown_modal" %>

<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10">
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Financial Analysis
						</div>
					</div>
				</div>
			</div>

			<!-- Analysis -->
			<div class="sub-content" align="center" >
				<div class="row">
					<div class="col-md-12">
						<div class="cost">
							<div class="cost-heading" align="center">
								Results
							</div>
							<div class="cost-details">
								<div class="cost-note">
									There are 30 store days in a month, 10 store hours in a day, and 2 stalls. Time to receivable is 1 month.
								</div>
							</div>
							<table class="table cost-table">
								<% for i in 0..@values.length-1 %>
								<tr class="cost-entry">
									<% for j in 0..@values[i].length-1 %>
									<td><%= @values[i][j] %></td>
									<% end %>
								</tr>
								<% end %>
							</table>
						</div>
					</div>
				</div>
			</div>


			<!-- Fixed Cost -->
			<div class="sub-content" align="center" >
				<div class="row">
					<div class="col-md-12">
						<div class="cost">
							<div class="cost-heading" align="center">
								<%= link_to "Fixed Cost", "#fixedBreakdownModal", "data-toggle" => "modal" %>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-6" >
						<div class="cost-container">
							<div class="cost-svg-container">
								<svg id="svg-fixed-cost" class="cost-svg"></svg>
							</div>
							<!--div class="cost-desc">
								<div class="cost-title">
								</div>
								<p>
									
								</p>
							</div-->
						</div>
					</div>
					<div class="col-md-6" >
						<table class="table cost-table">
							<tr>
								<% for i in 0..@fcost[0].length-1 %>
								<th class="col-md-3"><%= @fcost[0][i] %></th>
								<% end %>
							</tr>
							<% for i in 1..@fcost.length-2 %>
							<tr class="cost-entry">
								<% for j in 0..@fcost[i].length-1 %>
								<td><%= @fcost[i][j] %></td>
								<% end %>	
							</tr>
							<% end %>
							<tr>
								<% for i in 0..@fcost[@fcost.length-1].length-1 %>
								<th class="col-md-3"><%= @fcost[@fcost.length-1][i] %></th>
								<% end %>
							</tr>
						</table>
					</div>	
				</div>
			</div>
			
			<!-- Variable Cost -->
			<div class="sub-content" align="center" >
				<div class="row">
					<div class="col-md-12">
						<div class="cost">
							<div class="cost-heading" align="center">
								Variable Cost
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-6" >
						<div class="cost-container">
							<div class="cost-svg-container">
								<svg id="svg-variable-cost" class="cost-svg"></svg>		
							</div>
							<!--div class="cost-desc">
								<div class="cost-title">
								</div>
								<p>
									
								</p>
							</div-->
						</div>
					</div>
					<div class="col-md-6" >
						<table class="table cost-table">
							<tr>
								<% for i in 0..@vcost[0].length-1 %>
								<th class="col-md-3"><%= @vcost[0][i] %></th>
								<% end %>
							</tr>
							<% for i in 1..@vcost.length-2 %>
							<tr class="cost-entry">
								<% for j in 0..@vcost[i].length-1 %>
								<td><%= @vcost[i][j] %></td>
								<% end %>	
							</tr>
							<% end %>
							<tr>
								<% for i in 0..@vcost[@vcost.length-1].length-1 %>
								<th class="col-md-3"><%= @vcost[@vcost.length-1][i] %></th>
								<% end %>
							</tr>
						</table>
					</div>	
				</div>
			</div>

			<!-- Capital Cost -->
			<div class="sub-content" align="center" >
				<div class="row">
					<div class="col-md-12">
						<div class="cost">
							<div class="cost-heading" align="center">
								<%= link_to "Capital Cost", "#capitalBreakdownModal", "data-toggle" => "modal" %>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-6" >
						<div class="cost-container">
							<div class="cost-svg-container ccost-svg-container">
								<svg id="svg-capital-cost" class="cost-svg"></svg>
							</div>
							<!--div class="cost-desc">
								<div class="cost-title">
								</div>
								<p>
									
								</p>
							</div-->
						</div>
					</div>
					<div class="col-md-6" >
						<table class="table cost-table">
							<tr>
								<% for i in 0..@ccost[0].length-1 %>
								<th class="col-md-3"><%= @ccost[0][i] %></th>
								<% end %>
							</tr>
							<% for i in 1..@ccost.length-2 %>
							<tr class="cost-entry">
								<% for j in 0..@ccost[i].length-1 %>
								<td><%= @ccost[i][j] %></td>
								<% end %>	
							</tr>
							<% end %>
							<tr>
								<% for i in 0..@ccost[@ccost.length-1].length-1 %>
								<th class="col-md-3"><%= @ccost[@ccost.length-1][i] %></th>
								<% end %>
							</tr>
						</table>
					</div>	
				</div>
			</div>

		</div>
	</div>
</div>

<script>
	function formatJSON(json) {
		var formatted = [];
		for( var i = 0; i < json.length; i++ ) {
		formatted.push( { name:json[i][0], quantity:parseFloat(json[i][1]) } );	
		}
		return formatted;
	}
	
	var fixedCosts = formatJSON( <%= raw @fcost[1, @fcost.length-1].to_json %> );
	var variableCosts = formatJSON( <%= raw @vcost[1, @vcost.length-1].to_json %> );
	var capitalCosts = formatJSON( <%= raw @ccost[1, @ccost.length-1].to_json %> );
	
</script>