<div class="col-md-12">
	<div class="row content-box">
		<div class="col-md-offset-1 col-md-10" >
			<div class="sub-content sub-content-top" align="center">
				<div class="row">
					<div class="col-md-12">
						<div class="page-heading" align="center">
							Pivot Tables
						</div>
					</div>
				</div>
			</div>

			<div class="sub-content">
				<div class="row">
					<div class="col-md-12" >
						<p>In all the tests, it was found that the variables are independent of each other, with probabilities ranging from 56% up to around 99%. This means even variables which at first glance seems like they should be dependent on each other are actually independent. To the group, this means this means the following. 
							<ul>
								<li>People may be who receive low allowances are not necessarily less willing to pay for the product.</li>
								<li>People who look for affordability do not necessarily look for taste also.</li>
								<li>Place does not necessarily affect how much people are willing to spend on street-type food or how this food is priced.</li>
						</p>
					</div>
				</div>
			</div>


			<% @pivots.each_with_index do | pivot, k | %>
				<% if pivot == nil 
						next
					end %>
				<div class="sub-content" align="center"  id="pivot-<%=k%>">
					<div class="row">
						<div class="col-md-12" >
							<div class="dept-kpi">
								<div class="pivot-heading" align="center">
									<%= @names[k] %>
								</div>
								<table class="table table-bordered table-condensed table-hover pivot-table">
									<% for i in 0..pivot.length-1 %>
										<tr>
											<% for j in 0..pivot[i].length-1 %>
												<% if i == 0 && j == 0 %>
													<th class="two-rower row-col" align="center" rowspan="2"><%= pivot[i][j] %></th>
												<% elsif i == 0 && j == 1%>
													<th class="row-con" colspan="<%= pivot[1].length%>" align="center" ><%= pivot[i][j] %></th>
												<% elsif i == 0 && j == 2 %>
													<th class="two-rower row-col" align="center" rowspan="2"><%= pivot[i][j] %></th>
												<% elsif i == 1 %>
													<th align="center" class="row-con"><%= pivot[i][j] %></th>
												<% elsif i == pivot.length-1 %>
													<th class="row-con"><%= pivot[i][j] %></th>
												<% elsif i > 1 && j > 0 %>
													<td align="center"><%= pivot[i][j] %></td>
												<% else %>
													<td><%= pivot[i][j] %></td>
												<% end %>
											<%end%>
										</tr>
									<% end %>
									<tr><th class="res">Chi-Square</th><td class="res-val" colspan="<%= pivot[2].length-1 %>" align="center"><%= @chi_square[k] %></td></tr>
									<tr><th class="res">Degree of Freedom</th><td class="res-val" colspan="<%= pivot[2].length-1 %>" align="center"><%= @freedom[k] %></td></tr>
									<tr><th class="res">Probability</th><td class="res-val" colspan="<%= pivot[2].length-1 %>" align="center"><%= @probability[k] %></td></tr>
								</table>
							</div>
						</div>
					</div>
				</div>
			<% end %>

		</div>
	</div>
</div>