<!DOCTYPE html>
<html>
<head>
  <title>Elite Street</title>
  	<link rel="shortcut icon" type="image/png" href="<%= image_path('favicon.png')%>?v=1" />
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,500' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Berkshire+Swash' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css'>
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="row">
			<%= render("navigation")%>
		</div>

		<div class="row">
			<%= yield %>
		</div>

		<div class="row">
			<div class="footer text-center col-md-12">

				<small>© 2015 Elite Street | Ang | Reveche | Sanchez | Tolentino</small>
			</div>
			<div class="foter text-center col-md-offset-4 col-md-4" style="margin-top:16px">
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Elite Street Dashboard</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
			</div>
		</div>
	</div>
</body>
</html>
